.container4{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #EFF2EC;
}

.tituloContainer{
    color: black;
    align-self: start;
    justify-self: start;
    text-align: left;
    margin-left: 0;
}

.dadosCadastro{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.521) 0px 15px 12px;
    width: 450px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    border-radius: 15px;
}

.dadosCadastro button{
    margin-bottom: 20px;
    background-color: black;
    position:relative;
    top:50%; 
    left:35%;
    border: solid 2px rgb(7, 68, 7);
}

.dadosCadastro button:hover{
    background-color: rgb(7, 68, 7);
    border: solid 2px black;
    
}

.tituloForm{
    text-align: center;
    color: blanchedalmond;
}

.formClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


.formClass label{
    display: flex;
    flex-direction: column;
    color: rgb(223, 208, 208);
    margin-top: 2%;
}

.formClass label input{
    width: 95%;
    outline: none;
    border: none;
    padding: 2%;
    border-radius: 5%;
}
