.container4{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 110vh;
    align-items: center;
    background-image: url(../img/lawn-1335365_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    flex-wrap: wrap;
    background-color: #EFF2EC;
}

.dadosCadastro{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.521) 0px 15px 12px;
    width: 450px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    border-radius: 15px;
    margin-bottom: 40px;
}


.dadosCadastro button{
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: solid 2px rgb(7, 68, 7);
}

.dadosCadastro button:hover{
    background-color: rgb(7, 68, 7);
    border: solid 2px black;
    
}

.tituloForm{
    text-align: center;
    color: blanchedalmond;
}

.formClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


.formClass label{
    display: flex;
    flex-direction: column;
    color: rgb(223, 208, 208);
    margin-top: 2%;
}

.formClass label input{
    width: 100%;
    outline: none;
    border: none;
    padding: 2%;
    border-radius: 5%;
}
