.container6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110vh;
    background-image: url("../img/soccer-gdf5e7ca89_1920.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.titulo-horario{
    text-align: center;
    color: black;
    width: 100%;
}

.box-horario{
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.521) 0px 15px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 85%;
    border: solid 4px #3DA441;
    border-radius: 2%;
    background-color: #1E1B1B;
    color: white;
    min-height: 90vh;
    padding: 3%;
}

.horario{
    width: 23%;
    height: 200px;
    margin: 5px;
    border: #3DA441 solid 2px;
    border-radius: 5% ;
    color: blanchedalmond;
    font-size: smaller;
}

.horario h4{
    text-align: center;
    width: 100%;
}

