

.containerLogin {
    width: 100%;
    margin: auto;
    height: 150vh;
    display: flex;
    justify-content: space-around;
    background-image: url(../img/the-soccer-field-5357418_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;   
}

.containerLogin h5{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}

.containerLogin a{
    color: rgb(95, 255, 95);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logar{
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.521) 0px 15px 12px;
    width: 450px;
    margin: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    border-radius: 15px;

}

.logar h3{
    text-align: center;
    margin-bottom: 10px;
}

.logar button{
    margin-bottom: 20px;
    background-color: black;
    position:relative;
    top:50%; 
    left:35%;
    border: solid 2px rgb(7, 68, 7);
}


.logar button:hover{
    background-color: rgb(7, 68, 7);
    border: solid 2px black;
    
}

.logar p{
    text-align: center;
    font-size: medium;
    margin: 0;
}

.formsLogar{
    display: flex;
    flex-direction: column;
}

.formsLogar p{
    width: 100%;
}

.formsLogar input{
    width: 80%;
    outline: none;
    margin-top: 5%;
    border-radius: 15%;
    padding: 2%;
    border: solid green 2px;
}

.formsLogar label{
    margin-top: 5%;
}



.btnLogin{
    width: 20%;
    margin-top: 5%;
    background-color: transparent;
    border: white solid 2px;
    color: white;
    border-radius: 10%;
    padding: 2%;
    cursor: pointer;

}

.btnLogin:hover{
    background-color: white;
    color: black;
    transition: 500ms;
}

.trocar{
    width: 300px;
    height: 350px;
    margin: auto;
    background-image: url(../img/Group\ 338.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 10%;
    border: solid 2px black;;

}

.inscrever{
    margin: auto;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 13, 13, 0.705);
    border-radius: 10%;
    color: white;
    padding: 4%;
    
}

.btnInscrever{
    width: 110%;
    background-color: transparent;
    border: white solid 2px;
    color: white;
    border-radius: 10%;
    padding: 2%;
    cursor: pointer;
}

.btnInscrever:hover{
    background-color: white;
    color: black;
    transition: 500ms;
}

