body{
    background-color: white;
    color: black;
    margin: 0;
    box-sizing: border-box;
}

.parte1 a{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    padding: 3%;
}

.parte1 input{
    outline: none;
    border-radius: 10px;
    background: #FEFEFF;
    border: 1px solid #000000;
    padding: 2%;
    width: 25%;
    text-align: center;
}

.sim{
    background-color: green;
    margin-right: 2%;
}

.nao{
    background-color: red;
}

.parte2 input{
    border-radius: 10px;
    background: #FEFEFF;
    border: 1px solid #000000;
    padding: 2%;
}

.parte2 button{
    outline: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 2%;
    margin-top: 1%;

}

.parte2 button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 500ms;
}




