body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(233, 247, 240);
   

}

/*navbar do site*/

a{
    text-decoration: none;
    color: blanchedalmond;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(14, 12, 12);
}

.titulo{
    font-style: italic;
}

.menu{
    display: flex;


}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(3, 53, 3);    /* color of the scroll thumb */
    border-radius: 1x;       /* roundness of the scroll thumb */
    border: 1px solid green;  /* creates padding around scroll thumb */
  }

.menu li a{
    display: block;
    padding: 10px;
}

.menu li a:hover{
    color: orange;
    transition: 100ms;

}

.subMenu{
    display: none;
}

.subMenu li{
    font-size: small;
}

.menu li:hover > .subMenu{
    display: block;
    transition: 500ms;
    
}

.subMenu{
    background:rgb(14, 12, 12); border-radius: 0px; 
    padding: 0;
    position: absolute; 
}

.subMenu li{
    float: none; 
    position: relative;
}

.subMenu li a{
    padding: 5px;
    color: #fff;
}

.subMenu li a:hover{
    color: rgb(56, 247, 56);
}

/*banner com gif*/

.tituloBanner{
    display:grid;
    width: 440px;
    height: 80vh;
}

.tituloBanner h3{
      text-align: start;
}

.tituloBanner button{
    margin: auto;
    background-color: black;
    width: 200px;
    border: 2px solid green;
}

.tituloBanner button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/soccer-gdf5e7ca89_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(29, 24, 24, 0.356);
    background-position: 100%;
    color:#eeede6;
    padding: 20px 10px 10px 20px;
    height: 100vh;
}

.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/*sobre do site*/

.sobre{
    padding: 59px;
    background-image: url(../img/gramadinho.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    height: 390px;
}

.sobre h1{
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.sobre p{
    text-align: center;
    text-align: center;
    color: cornsilk;
    font-size:x-large;
}

.botaoSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: rgb(36, 32, 32);
    color: seashell;
    border-radius: 60px;
    border-color: rgb(19, 150, 15);
    padding: 1.5%;
    cursor: pointer;
    margin: auto;
    margin-top: 10%;
    align-self: center;
    font-size: x-large;
}



.botaoSobre:hover{
    border-color: rgb(243, 117, 14);
    transition:1.5s;
}

.servicos{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.servicos h1{
    text-align: center;
    font-size: 52px;
    width: 100%;
    color: rgb(19, 18, 18);
}

.serv p{
    font-size: small;
    text-align: center;
    color: rgb(12, 12, 11);


}

.serv img{
    margin-bottom: 4%;
    
}


.serv{
    display: grid;
    width: 20vw;
    height: 60vh;
    border-radius: 10px;
    border: solid rgb(19, 150, 15) 2px;
    background-color: EFF2EC;
    padding: 10%;
    cursor: pointer;
   
    
}

.serv:hover{
    border-color: rgb(243, 117, 14);
    transition: 0.7s;
}


.descServicos{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-image: url(../img/bolaFundo.png);
    background-size: cover;
    background-position-y: 85%;

}

.boxImage{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px green;
    border-radius: 20%;
    color: black;
}

.boxImage p{
    color: black;
}

.boxImage img{
    align-self: center;
}

.boxTexto{
    width: 53%;
    height: 30%; 
}

.boxTexto p{
    font-size: x-large;
}


.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    flex-wrap: wrap;
    background-color:black;
    text-decoration: none;
}

.footer ul{
    margin-left: 5%;
}

.footer li{
    text-decoration: none;
    padding: 5px;
}

.footer a{
    margin-left: 7%;
}

.menu{
    display: flex;
    margin-right: 10%;

}

.menu li{
    margin-left: 10px;
    text-decoration: none;
}

.menu li a{
    text-decoration: none;
    display: block;
    padding: 10px;
}







