body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFF2EC;
   
}

.container3{
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}


.container-grid{
    height: 108vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: "b b";
    grid-gap: 20px;
    justify-content: space-evenly;
    align-content: center;
    
}


.box{
    background-color: #0ea327a6;
    grid-area: "b";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

}

.box-image{
    background-color: black;
    height: 55%;
    width: 100%;
    
}

.box p{
    font-size: 61%;
    text-align: center;
    padding: 5px;
}


