body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFF2EC;
   
}

.container3{
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}


.container-grid{
    height: 150vh;
    width: 100vw;
}


.box{
    width: 100%;
    grid-area: "b";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

}



