body, ul, li, p{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Roboto'; 

}

/*navbar do site*/

a{
    text-decoration: none;
    color: blanchedalmond;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(14, 12, 12);
}

.titulo{
    font-style: italic;
}

.menu{
    display: flex;


}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(3, 53, 3);    /* color of the scroll thumb */
    border-radius: 1x;       /* roundness of the scroll thumb */
    border: 1px solid green;  /* creates padding around scroll thumb */
  }

.menu li a{
    display: block;
    padding: 10px;
}

.menu li a:hover{
    color: orange;
    transition: 100ms;

}

.subMenu{
    display: none;
}

.subMenu li{
    font-size: small;
}

.menu li:hover > .subMenu{
    display: block;
    transition: 500ms;
    
}

.subMenu{
    background:rgb(14, 12, 12); border-radius: 0px; 
    padding: 0;
    position: absolute; 
}

.subMenu li{
    float: none; 
    position: relative;
}

.subMenu li a{
    padding: 5px;
    color: #fff;
}

.subMenu li a:hover{
    color: rgb(56, 247, 56);
}

/*banner com gif*/

.tituloBanner{
    display:grid;
    width: 440px;
    height: 80vh;
}

.tituloBanner h3{
      text-align: start;
}

.tituloBanner button{
    margin: auto;
    background-color: black;
    width: 200px;
    border: 2px solid green;
}

.tituloBanner button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/soccer-gdf5e7ca89_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(29, 24, 24, 0.356);
    background-position: 100%;
    color:#eeede6;
    padding: 20px 10px 10px 20px;
    height: 100vh;
}

.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.container9{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*sobre do site*/

.sobre{
    padding: 59px;
    background-image: url(../img/gramadinho.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    height: 390px;
}

.sobre h1{
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.sobre p{
    text-align: center;
    text-align: center;
    color: cornsilk;
    font-size:x-large;
}

.botaoSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: rgb(36, 32, 32);
    color: seashell;
    border-radius: 60px;
    border-color: rgb(19, 150, 15);
    padding: 1.5%;
    cursor: pointer;
    margin: auto;
    margin-top: 10%;
    align-self: center;
    font-size: x-large;
}



.botaoSobre:hover{
    border-color: rgb(243, 117, 14);
    transition:1.5s;
}

.servicos{
    width: 100%;
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 110vh;
    background-image: url(../img/the-soccer-field-5357418_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.servicos h1{
    text-align: center;
    font-size: 52px;
    width: 100%;
    color: whitesmoke;
}

.serv p{
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(12, 12, 11);

}

.serv img{
    margin-bottom: 4%;
    
}


.serv{
    margin: 20px;
    display: grid;
    justify-items: center;
    width: 20vw;
    height: 60vh;
    text-align: left;
    border-radius: 10px;
    margin: 10px;
    border: solid #13960f 2px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.521) 0px 15px 12px;
    padding: 10%;
    cursor: pointer;
   
}


.descServicos{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-image: url(../img/bolaFundo.png);
    background-size: cover;
    background-position-y: 85%;

}

.boxImage{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px green;
    border-radius: 20%;
    color: black;
}

.boxImage p{
    color: black;
    text-align: center;
}

.boxImage img{
    align-self: center;
}

.boxTexto{
    width: 53%;
    height: 30%; 
}

.boxTexto p{
    font-size: x-large;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: rgb(0, 0, 0);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.menu{
    display: flex;
    margin-right: 10%;

}

.menu li{
    margin-left: 10px;
    text-decoration: none;
}

.menu li a{
    text-decoration: none;
    display: block;
    padding: 10px;
}







