body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;

}




/*navbar do site*/

a{
    text-decoration: none;
    color: blanchedalmond;
}


.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    background-color: rgb(36, 32, 32);
    border-bottom:cornsilk 2px solid ;
}

.menu{
    display: flex;
    margin-right: 10%;

}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}


/*banner com gif*/

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/gifff.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    color:#ffef11;
    text-align: center;
    padding: 20px 10px 10px 20px;
    height: 390px;
}

/*sobre do site*/

.sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 59px;
    background-color: rgb(36, 32, 32)
}

.sobre h1{
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.image{
    background-color: rgb(36, 32, 32);
    margin-left: 90px;
}

.boxImage{
    
    border: solid green 3px;
    border-radius: 60px;
}

.text{
    width: 253px;
    height: 200px;
    padding: 80px;
    background-color: rgb(36, 32, 32);
    margin-right: 90px;
}

.text p {
    text-align: justify;
    color: cornsilk;
    font-size:x-large;

}

.botaoSobre{
    margin-left: 69px;
    margin-top: 22px;
    background-color: rgb(36, 32, 32);
    color: seashell;
    border-radius: 60px;
    border-color: seashell;
    padding: 10px;
    cursor: pointer;
}

.servicos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 3%;
    background-image: url(/img/fut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.281);
    background-blend-mode: darken;
}

.servicos h1{
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 4%;
    color: blanchedalmond;
}

.serv p{
    font-size: small;
    text-align: justify;
    color: blanchedalmond;


}

.serv img{
    margin-bottom: 4%;
}


.serv{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid rgb(19, 150, 15) 2px;
    background-color: rgba(0, 0, 0, 0.486);
    padding: 3%;
   
    
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    background-color: rgb(36, 32, 32);
    border-bottom:cornsilk 5px solid ;
}


.menu{
    display: flex;
    margin-right: 10%;

}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}





