
.containerDescricao{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
  
}

.box-quadra{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-quadra img{
    width: 50vw;
}

.containerBoxInfos{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 450px;
    padding: 2%;
    margin: auto;
}

.tituloCard{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.tituloCard img{ 
    height: 30px;
}



.box-info-quadra{
    margin-top: 10px;
    width: 278px;
    height: 316px;
    background-color: black;
    color: blanchedalmond;
    border-radius: 5%;
    border: 5px solid green;
    padding: 2%;

}

.box-info-quadra p{
    font-size: small;
    padding: 2%;
    font-weight: bold;
}

.box-info-quadra h1{
    text-align: center;
}


.box-horarios-quadra{
    margin-top: 10px;
    width: 278px;
    height: 316px;
    background-color: black;
    color: blanchedalmond;
}

.box-horarios-quadra h1{
    text-align: center;
}

.botaoAcao{
    background-color: black;
    color: blanchedalmond;
    border: 3px solid green;
    border-radius: 4%;
    width: 20%;
    margin: 2%;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.botaoAcao:hover{
    background-color: honeydew;
    color: black;
    transition: 500ms;
}

.botaoReserva{
    background-color: transparent;
    border: solid 2px green;
    border-radius: 5%;
    padding: 2%;
    margin-bottom: 1%;
    cursor: pointer;
    color: white;
}