.containerDescricao{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
}

.box-quadra{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-quadra img{
    width: 50vw;
}

.containerBoxInfos{
    display: flex;
    justify-content: space-evenly;
    height: 450px;
    padding: 2%;
}




.box-info-quadra{
    margin-top: 10px;
    width: 278px;
    height: 316px;
    background-color: black;
    color: blanchedalmond;
}

.box-info-quadra h1{
    text-align: center;
}


.box-horarios-quadra{
    margin-top: 10px;
    width: 278px;
    height: 316px;
    background-color: black;
    color: blanchedalmond;
}

.box-horarios-quadra h1{
    text-align: center;
}