
.containerDescricao{
    display: flex;
    flex-direction: column;
    background-image: url("../img/stadium-2606345_1920\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.box-quadra{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-quadra img{
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.521) 0px 15px 12px;
    margin-top: 20px;
    width: 820px;
    height: 400px;
}

.containerBoxInfos{
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
}

.tituloCard{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.tituloCard img{ 
    height: 30px;
}



.box-info-quadra{   
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.521) 0px 15px 12px;
    margin: 10px;
    width: 400px;
    border-radius:10px;
    background-color: #EFF2EC;
    color: black;
    border: 1px solid;
    padding: 2%;
}

.box-info-quadra input{
    width: 100%;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.box-info-quadra p{
    font-size: small;
    padding: 2%;
    font-weight: bold;
    color: black;
}

.box-info-quadra h1{
    text-align: center;
}


.box-horarios-quadra{
    margin-top: 10px;
    width: 278px;
    height: 316px;
    background-color: black;
    color: blanchedalmond;
}

.box-horarios-quadra h1{
    text-align: center;
}

.botaoAcao{
    background-color: black;
    color: blanchedalmond;
    border: 2px solid green;
    border-radius: 5px;
    width: 100%;
    margin-top: 300px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.botaoAcao:hover{
    background-color: honeydew;
    color: black;
    border: 2px solid black;
}

.botaoReserva{
    background-color: transparent;
    border: solid 2px green;
    border-radius: 5%;
    padding: 2%;
    margin-bottom: 1%;
    cursor: pointer;
    color: white;
}

.link-troca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.botaoTrocar {
    width: 10%;
    justify-self: center;
    align-self: center;
    margin-top: 2%;
    cursor: pointer;
    background-color: white;
    border: solid 2px green;
    padding: 1%;
}