.container h1{
    text-align: center;
}

.containerQuadras{
    margin: auto;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.box-title{
  
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-upload-quadras{
    position: relative;
    left: 100px;
}

.content-quadras{
    width: 100%;
    height: 60vh;
    margin-top: 50px;
    display:flex;
}

.quadra{
    border-radius: 20px;
    width: 20%;
    height: 150px;
    padding: 2%;
    margin: 2%;
    background-color: green;
    border: 1px solid black;
}

.quadra h1{
    text-align: center;
}

.quadra ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add{
    width: 100%;
    display: flex;
    justify-content: center;
}

.add button{
    height: 50px;
    width: 50px;
    border:2px solid black;
    background-color: black;
    border-radius: 50%;
}

.add button:hover{
    cursor: pointer;
}