
.container h1{
    text-align: center;
}

.containerQuadras{
    margin: auto;
    height: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    padding: 2%;
}

.titulo{
    margin: auto;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.titulo h1{
    color: black;
    text-align: center;
    font-style: normal;
}

.quadraBtn{
    height: 50px;
    width: 100px;
    border-radius: 10%;
    background-color: rgb(48, 45, 45);
    color: blanchedalmond;
    border: 5px solid #3DA441;

}

.quadraBtn:hover{
    cursor: pointer;
    background-color: blanchedalmond;
    color: rgb(43, 42, 41);
    transition: 500ms;
}

.content-quadras{
    width: 100%;
    height: 60vh;
    margin-top: 50px;
    display:flex;
}

.quadra{
    border-radius: 20px;
    width: 230px;
    height: 190px;
    padding: 2%;
    margin-right: 2% ;
    background-color: #1E1B1B;
    border: 5px solid #3DA441;
   
}

.quadra h1{
    text-align: center;
}

.quadra ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quadra li{
    font-size: small;
    margin-bottom: 1%;
}

.quadra li p{
    font-size: small;
}

.quadra a{
    color: #3DA441;
    padding: 1%;
    font-size: medium;

}

.adcQuadra{
    border-radius: 50%;
    background-color: black;
    color: blanchedalmond;
    cursor: pointer;
}

.adcQuadra p{
    font-size: xx-large;
}

.add{
    width: 100%;
    display: flex;
    justify-content: center;
}

.add button{
    height: 50px;
    width: 50px;
    border:2px solid black;
    background-color: black;
    border-radius: 50%;
}

.add button:hover{
    cursor: pointer;
}